<%= render partial: 'users/header' %>
<div class="container">
  <div class="row">
    <div class="col-md-3" id="leftCol">

    </div>
    <div class="col-md-9">
      <h1>Searched Questions</h1>

      <table>
        <tbody>
          <% @result.each do |question| %>
            <tr>
              <td><a href=" /users/<%=question.id%>/show_question"><%= question.title %></a></td>
              <br>
              <!-- <td><%= question.description %></td> -->
              <!-- <td><%= link_to question.title, question_path(id: question.id) %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
.col-md-9{
  margin-top: 100px;
}

  #sidebar {
    width: 250px;
    z-index: 1000;
    position: fixed;
    left: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    margin-top: 10px;
/*    background: #000;*/
}

.well{
  position: fixed;
  background-color: #FFFFFF;
  border: 0px solid #e3e3e3;
}

#sidebar li a{
text-align:center;
}
</style>

