<h2 style="text-align:center;"> Question Details </h2>
<span> Title </span>
<input type="text" id="title_<%= @question.id %>" value = "<%= @question.title %>"> </input>
</br>
<span> Description </span>
<input type="text" id="description_<%= @question.id %>" value = "<%= @question.description %>">  </input>
</br>
<span> Tag =>>>>>>>> </span>
<span> <%= Repository.find(@question.repository_id).name %> </span>
</br>
<strong> Comments For Question </strong>
<% @question.comments.each do |qcomment| %>
	<input type="text" id="comment_<%= qcomment.id %>" value="<%= qcomment.comment %>"></input> 
<% end %></br>
<input type="text" id="question_comment"></input>
<input type="button" class= "comment_button" value="Add Comment" data-item-id="<%= @question.id %>" data-item-type="Question"> </input>
</br>
<strong> Answers </strong>
</br>
<% @question.answers.each do |qanswer| %>
	<input type="text" id="answer_<%= qanswer.id %>" value="<%= qanswer.answer %>"></input>
	</br>
	<strong> Answer_Comments </strong>
	<% qanswer.comments.each do |answer_comment| %>
		<input type="text" id="acomment_<%= answer_comment.id %>" value="<%= answer_comment.comment %>"></input>
	<% end %></br>
	<input type="text" id="answer_comment_<%=qanswer.id %>" data-item-id="<%= qanswer.id %>" data-item-type="Answer"> </input>
	<input type="button" value="Add Comment" class= "comment_button" data-item-id="<%= qanswer.id %>" data-item-type="Answer"> </input>
	</br>
<% end %>
<textarea id="answer_text" placeholder="Add your answer"></textarea>
<input type="button" id="add_answer" value="Add Answer"> </input>




<script type="text/javascript">
	$( document ).ready(function() {
    });
    $("#add_answer").on("click",function(){
    	data = {"user_id":264 ,"question_id":"<%= @question.id %>" , "answer":$("#answer_text").val() }
    	$.ajax({
    		url: '/questions/<%= @question.id %>/answers',
		    data: data,
		    type: 'POST',
		    xhrFields: {
		      withCredentials: true
		    },
		    success: function(data){
		        window.location.reload()
		    },
		    error: function(err){
		    }
  		})
    })
    $(".comment_button").on("click",function(){
    	var data={};
    	if ($(this).data("item-type") == "Question"){
    		data = {"user_id":264,"entity_type":"Question","entity_id":$(this).data("item-id"),"comment":$("#question_comment").val()
    		};
    	}
    	else{
    		var answer_box = "#answer_comment_"+ $(this).data("item-id")
    		data = {
    			"user_id":264,
    			"entity_type":"Answer",
    			"entity_id":$(this).data("item-id"),
    			"comment":$(answer_box).val()
    		};
    	}
    	$.ajax({
    		url: '/questions/5/comments',
		    data: data,
		    type: 'POST',
		    xhrFields: {
		      withCredentials: true
		    },
		    success: function(data){
		        window.location.reload()
		    },
		    error: function(err){
		    }
  		})
	})

</script>


