<div>
  <h1 align="center"> Question Details </h1>
</div>
    <br>
    <br>
<div class="container-fluid">
    
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            <input class="btn btn-success" type="button" id="question_upvote" data-item-id="<%= @question.id %>" data-item-type="Question" value="upvote <%= @vote[:upvotes] %>" style="width: 120px;"> </input>

            <input class="btn btn-success" type="button" id="question_downvote" data-item-id="<%= @question.id %>" data-item-type="Question" value="downvote <%= @vote[:downvotes]%>" style="width: 120px;"> </input>
        </div>
        <div class="container-fluid col-md-10">
           <!-- <span class="input-group-addon" id="basic-addon1">Title</span> !-->
    
            <span id="title_<%= @question.id %>" style="align: center">
            <h2> 
                <%= @question.title %>
            </h2>
            </span>
        </div>   
    </div>
</div>
    <br>
    <br>
<div class="container">
<div class="row">
    <span class="input-group-addon" id="basic-addon1">Description</span>
    <span>  <%= @question.description%>     </span>
</div>
</div>


</br>
<div class="container">
<span style="align: left; "> <strong> Tagged Repo: </strong> </span><span class="label label-default" style="font-size: 100%; background-color: #2D7ADA"><%= Repository.find(@question.repository_id).name %></span>
</div>


</br>
</br>
</br>

<div class="container">
    <div class="row">
<strong> Comments For Question </strong>
<div class="container">

<% @question.comments.each do |qcomment| %>
  <div class="row">
  <span id="name_<%= qcomment.id %>"> <%= User.find(qcomment.user_id).name %>: </span>
  <span id="comment_<%= qcomment.id %>"> <%= qcomment.comment %> </span>
  </div>
<% end %></br>
</div>
</div>


<div class="row">
<textarea type="text" id="question_comment" style="width: 100%; height: 50px;" placeholder="Add comment"></textarea>
<input type="button" class= "comment_button" value="Add Comment" data-item-id="<%= @question.id %>" data-item-type="Question"> </input>
</div>
</div>
</br>
</br>
</br>
</br>


<% @question.answers.each do |qanswer| %>
  <br>
<br>
<div class="container">
    <div class="row">
    <span class="input-group-addon" id="basic-addon1">Answer by: <%= User.find(qanswer.user_id).name %></span>
    <span>  <%= qanswer.answer%>     </span>
</div>
</div>

<div class="container">
<strong> Comments for Answer </strong>
	<% qanswer.comments.each do |answer_comment| %>
    <br>
    <div class="row">
		<span> <%=  User.find(answer_comment.user_id).name %>: <%= answer_comment.comment %>"</span>
    </div>
	<% end %>

<div class="row"> 
<textarea type="text" id="answer_comment_<%=qanswer.id %>" data-item-id="<%= qanswer.id %>" data-item-type="Answer" style="width: 100%; height: 50px;" placeholder="Add comment"></textarea>
<br />
<input type="button" value="Add Comment" class= "comment_button" data-item-id="<%= qanswer.id %>" data-item-type="Answer"> </input></div>
</div>
</div>
	</br>
<% end %>
</div>
</div>
<br>
<br>


<div class="container">
    <div class="row"> 
<textarea style="width: 100%; height: 300px;" id="answer_text" placeholder="Add your answer"></textarea>
<br>
<input class="btn btn-success" type="button" id="add_answer" value="Add Answer"> </input>
<br>
</div>
</div>


<script type="text/javascript">
    var userId = 1
	$( document ).ready(function() {
        var userId = localStorage.getItem("userId")
        if(userId==null){
            userId=1
        }
        console.log(userId)
    });
    $("#add_answer").on("click",function(){
    	data = {"user_id":userId ,"question_id":"<%= @question.id %>" , "answer":$("#answer_text").val() }
    	$.ajax({
    		url: '/questions/<%= @question.id %>/answers',
		    data: data,
		    type: 'POST',
		    xhrFields: {
		      withCredentials: true
		    },
		    success: function(data){
		        window.location.reload()
		    },
		    error: function(err){
		    }
  		})
    })
    $("#question_upvote").on("click",function(){
        item_id = $(this).data("item-id")
        var data = {"user_id":userId,"entity_id": item_id, "entity_type":"Question","vote_flag":true };
        $.ajax({

            url: '/votes',
            data: data,
            type: 'POST',
            xhrFields: {
              withCredentials: true
            },
            success: function(data){
                window.location.reload()
            },
            error: function(err){
            }
        })
    })
    $("#question_downvote").on("click",function(){
        item_id = $(this).data("item-id")
        var data = {"user_id":userId ,"entity_id": item_id, "entity_type":"Question","vote_flag":false };
        $.ajax({

            url: '/votes',
            data: data,
            type: 'POST',
            xhrFields: {
              withCredentials: true
            },
            success: function(data){
                window.location.reload()
            },
            error: function(err){
            }
        })
    })

    $(".comment_button").on("click",function(){
    	var data={};
    	if ($(this).data("item-type") == "Question"){
    		data = {"user_id":userId,"entity_type":"Question","entity_id":$(this).data("item-id"),"comment":$("#question_comment").val()
    		};
    	}
    	else{
    		var answer_box = "#answer_comment_"+ $(this).data("item-id")
    		data = {
    			"user_id":userId,
    			"entity_type":"Answer",
    			"entity_id":$(this).data("item-id"),
    			"comment":$(answer_box).val()
    		};
    	}
    	$.ajax({
    		url: '/questions/<%= @question.id %>/comments',
		    data: data,
		    type: 'POST',
		    xhrFields: {
		      withCredentials: true
		    },
		    success: function(data){
		        window.location.reload()
		    },
		    error: function(err){
		    }
  		})
	})

</script>


