<p id="notice"><%= notice %></p>

<p>
  <strong>Entity:</strong>
  <%= @comment.entity_id %>
</p>

<p>
  <strong>Entity type:</strong>
  <%= @comment.entity_type %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
