<!DOCTYPE html>
<html>
<head>
  <title>TechAssist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= form_for(@users, remote: true) do |f| %>
  	<%= f.label :name %>:
  	<%= f.text_field :name %><br />
  	<%= f.label :email %>:
  	<%= f.text_field :email, :disabled=>true %><br />
  	<%= f.label :Repositories %>: Select the ones you want to subscribe to
  	<ul id="repoList" style="list-style-type: none">
  	<% @repos.each do |repo| %>
  		<li key=<%= repo.id %>> <input type="checkbox"> <%= repo.name %> </li>
  	<% end %>
	</ul>
  <%= f.submit %>
<% end %>
</body>
</html>